* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Serif Bold;
    background-color: #111;
    color: #eee;
    line-height: 1.8;
    font-size: 1.25rem;
}

header {
    background-color: #75242b;
    padding: 17px 0;
    text-align: center;
    position: sticky;
    top: 0;
}

header h1 {
    color: #f7f0c0;
    font-size: 2.4rem;
    letter-spacing: 2px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 15px;
}

nav a {
    color: #eee;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #f7f0c0;
}

main {
    max-width: 1100px;
    margin: auto;
}

article {
    margin-bottom: 70px;
    overflow: auto;
}


article h2 {
    text-align: left;
    color: #f7f0c0;
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 40px;
}

article li {
    text-align: left;
}


img {
    float: right;
    border-radius: 10px;
    margin: 25px 30px;
    max-width: 52%;
}

table {
    margin: auto;
}

article h3 {
    color: #f7f0c0;
    text-align: left;
    font-size: 1.60rem;
}

article h4 {
    color: #f7f0c0;
    text-align: center;
    font-size: 1.50rem;
    margin-bottom: 15px;

}

article p {
    text-align: justify;
    margin-bottom: 25px;
}

th {
    color: #f7f0c0;
}

td {
    color: #eee;
}

footer {
    color: #eee;
    text-align: center;
    padding: 30px 0;
    margin-top: 80px;
}

footer h5 {
    color: #f7f0c0;
    margin-bottom: 15px;
    font-size: 1.4rem;
}